[submodule "tools/darknet-colab"]
	path = tools/darknet-colab
	url = https://github.com/tommyjtl/darknet-colab
	branch = master
[submodule "tools/tflite2kmodel-colab"]
	path = tools/tflite2kmodel-colab
	url = https://github.com/tommyjtl/tflite2kmodel-colab
	branch = master
[submodule "tools/darkflow-colab"]
	path = tools/darkflow-colab
	url = https://github.com/tommyjtl/darkflow-colab
	branch = master
